.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
.prettierrc
.eslintcache
pnpm-lock.yaml
.github/**
CONTRIBUTING.md
CHANGELOG.md
eslint.config.mjs
*.log
dist/**
node_modules/**
.DS_Store
*.vsix